table {
  width: 100%;
}

mat-form-field {
  margin-left: 20px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 1;
}

.example-element-detail {
  overflow: hidden;
  /* display: flex; */
}
